PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/urban_harvest_hub
JWT_SECRET=super_secret_eco_key_harvest_hub
VAPID_PUBLIC_KEY=BI124x2WbL0Dk4B3W3R8jWbU99L18Yl0T_H4T7yP8q6K0u6-yJ8Yf9yX_H_8K0T_H4T7yP8q6K0u6-yJ8Yf9yX
VAPID_PRIVATE_KEY=v12-x2WbL0Dk4B3W3R8jWbU99L18Yl0T_H4T7yP8q6K
CLIENT_URL=http://localhost:5173
